.Header{
  display: flex;
  padding: 20px 16px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  & img{
    margin-right: 8px;
  }
}