.Message{
  display: flex;
  gap: 0 8px;
}

.Message__description{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #201F1E;
  max-width: 50%;

  .description__title{
    font-weight: 700;
  }

  .description__text{
    font-weight: 400;
    padding: 8px 12px;
    background-color: #F3F3F3;
    border-radius: 4px;
    display: inline-block;
  }
}

.My{
  margin-right: 0;
  justify-content: right;

  & .description__text{
    background-color: rgba(64, 126, 201, 0.16);
  }
}